<div class="row mt-3">
    <div class="col-lg-6 offset-lg-3">
        <div class="hvr-grow col-12 m-0 p-0">
            <form action="#" class="form-group form-inline col-12 animated fadeIn">
                <input type="text" class="form-control col-11" name="search_input" id="search_input" placeholder="Search">
                <button class="btn btn-dark ion-search form-control"></button>
            </form>
        </div>
        <ul class="navbar-nav ml-3 animated fadeIn">
            <li class="list-inline-item btn btn-primary hvr-float-shadow">Login</li>
            <li class="list-inline-item btn btn-secondary hvr-float-shadow">Signup</li>
        </ul>
    </div>
</div>