*{
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}

html,body{
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Display */
.display-flex{
    display: flex;
}

.max-height{
    height: 100%;
}

.max-width{
    width: 100%;
}

/* Visibility */
.visible-xs{
    display: none;
}

/* Test spacing */
.letter-spacing-1{
    letter-spacing: .1rem;
}

.letter-spacing-2{
    letter-spacing: .2rem;
}

/* Text color */
.text-skyblue{
    color: skyblue;
}

.text-blue{
    color: blue;
}

.text-black{
    color: black;
}

.text-red{
    color: tomato;
}

.text-orange{
    color: orange;
}

.text-oranged{
    color: orangered;
}

/* Background color */
.bg-bronze{
    background-color: sandybrown;
}

.bg-black{
    background-color: #3a3430;
}

.bg-blue{
    background-color: blue;
}

.bg-dialog{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

#project-gallery{
    background-image: url('../img/westland/bluebackground.png');
    background-size: cover;
}


/* Dialog */
.dialog-box{
    padding: 0 15px;
    border-radius: 8px;
}

.dialog-show{
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-close{
    display: none;
}

.dialog-box .ion-ios-close{
    font-size: xx-large;
}

.nav-btn{
    font-weight: bold;
    border-radius: 25px;
}

/* Section */
section{
    min-height: 600px;
}

section:nth-child(even){
    background-color: #007bff;
}

#home{
    background: url('../img/background/transpa-dots4.png') repeat scroll center left / cover;
    background-color: #007bff;
}

#about{
    background: url('../img/background/transpa-dots1.png') repeat scroll center left / cover;
}

#project-gallery .max-height{
    min-height: 600px;
}

#testimonials .testimonial{
    min-height: 300px;
    box-shadow: 8px 8px 5px #efefef;
}

#give-qoute input, #give-qoute textarea{
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

.carousel-controller{
    font-size: xx-large;
}

.ion-arrow-right-c{
    margin-left: 250px;
}

.ion-arrow-left-c{
    margin-right: 250px;
}

@media (max-width: 1200px) {
    #home{
        background: url('../img/background/transparent.png') repeat scroll center left / cover;
        background-color: #007bff;
    }
}

@media (max-width: 992px) {
    .hidden-lg{
        display: none;
    }
}

@media (max-width: 850px){
    .hidden-md{
        display: none;
    }

    .justify-md{
        text-align: justify;
    }
    
}

@media (max-width: 767px) {
    .visible-xs{
        display: block;
    }
    
    .hidden-xs{
        display: none;
    }

    .ion-arrow-right-c{
        margin-left: 50px;
        margin-right: 15px;
    }
    
    .ion-arrow-left-c{
        margin-right: 50px;
        margin-left: 15px;
    }

    .left-md{
        text-align: left;
    }
}

@media (max-width: 320px){

}







