{% extends 'base.html' %}

{% block content %}
    <div class="row mt-5 mb-5">
        <div class="col-10 offset-2  form-login">
            <h4>Login</h4>
            <form action="{{ login_url }}" class="form-group" method="POST">
                <input type="text" name="username" class="form-control mt-2" placeholder="Email or code name" maxlength=50 required>
                <input type="password" name="password" class="form-control mt-2" placeholder="Password" maxlength=50 required>
                <button class="btn btn-primary btn-block btn-lg mt-3" type="submit">Sign-In</button>
            </form>
            <!-- <h1>{{ register_url }}</h1> -->
            <p class="mt-4">Don't have an account? <span><a href="{% url 'register_url' %}">Create account</a></span></p>
            {% if errormsg %}
                <div class="card bg-danger">
                    <h5 class="ml-2 p-0 m-0 font-weight-bold">Error:</h5>
                    {% for i in errormsg %}
                        <span class="ml-4 p-0 m-0 font-italic">* {{ i }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}